/* masukkan font baru */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* body */
body{
    font-family: 'BebasNeue';
    font-size: 20px;
    /* line-height: 1.6; */
    background-color: #ddd;
}
h1{
    font-size: 80px;
    margin: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
.container{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.8);
    border-radius: 15px;
}
.gallery li{
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}
.gallery li, 
.gallery li img, 
.gallery li span {
    border-radius: 50%;
}
.gallery li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}
.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear{
    clear: both;
}

.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;  
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 99999999;
    transition: 0.6s;
    text-align: center;
    padding: 100px 0;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0, 0, .8);
}
.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0, 0, .5);
}

.overlay:target img{
    animation: fadeaja 1s;
}
.overlay .close{
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -30px;
    color: white;
    text-decoration: none;
    opacity: 0;
}
.overlay:target .close{
    animation: slidedownfade .5s .5s forwards;
}
.overlay:target .next,
.overlay:target .prev{
    animation: fadeaja .5s .5s forwards;
}
.next, .prev{
    width: 70px;
    height: 80px;
    background-image: url(../img/next.png);
    position: absolute;
    text-indent: -999999px;
    top: 40%;
    margin-left: 10px;
    opacity: 0;
}
.prev{
    background-image: url(../img/left.png);
    margin-left: -90px;
}
/* animasi keyframes */
@keyframes zoomdanfade{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slidedownfade {
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes fadeaja{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}